.table-row-pointer tbody tr {
    cursor:pointer;
}
.calendar-aporte {
    display: block;
    padding-top: 45px;
    width: 100px;
    height: 100px;
    background-image: url( ../img/calendar.svg);
    background-size: 100%;
    cursor:pointer;
}

.calendar-aporte-checked {
    color:white;
    background-image: url(../img/calendar-success.svg);
}